body {
	background-color:#8f1a1a;
	font-family: "Roboto";
}

p{
	color: #FFB2B2;
}

a{
	color: #FFB2B2;
}

h1{
	color: #FFB2B2;
}

.üleval{
 	background-color: red;
  	width: 100%;
  	max-height: 300px;
 	background-color: #8f1a1a;
  	width: 100%;
	max-height: 300px;
  	text-align: center;
  	display: block;
  	float: left;

  	/*margin-left: auto;
  	margin-right: auto;
 	*/
  	object-fit: contain;

}

.pilt_üleval {
	max-height: 300px;
	max-width: inherit;
}

img {
  	width: 100%;
  	height: auto;
	border-radius: 8px;
  	padding-bottom: 5px;
  	max-width: 50vw;
}

.meedia {
    width: 75px;
    height: 75px;
	text-align: center;
}

.meedia img {
	width: 100%;
	height: auto;
}

.footer {
  	position: relative;
	object-fit: contain;
	border: 1px solid #ddd;
	border-radius: 4px;

}

a.söögid:link, a.söögid:visited {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-bottom: thick line #ff0000;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  display: inline-block;
}

a.tekst:link, a.tekst:visited {
	color:white;
	padding-bottom: 1px;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid white;
	display: inline-block;
}

a.söögid:hover, a.söögid:active {
	border-bottom: 1px solid black;
}

a.tekst:hover, a.tekst:active {
	border-bottom: 1px solid black;
}

.footer {
  	position: absolute;
 	width: 100%;
	padding: 5px;
  	background-color: DarkSlateBlue;
  	color: white;
  	text-align: center;
	overflow: hidden;
}

/* THIS IS THE SHIT LIHTSALT */
.column1 {
	padding-top: 20px;
 	float: left;
 	width: 20%;
}
.column2 {
 	float: left;
 	width: 60%;
 	padding-top: 20px;
}

.row:after {
 	content: "";
 	display: table;
 	clear: both;
}

table{
	background-color: #FFB2B2;
	border-radius: 5px;
	padding: 20px;
	border-color: #8f1a1a;
	border-style: double;
}
li{
	padding: 10px;
}
